<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <title>MyLibrary</title>
</head>
<body>
    <div class="container">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
</div>
</div>
</body>
</html>