:root {
    --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 83%);
    --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 73%);
    --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
    --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 10%);
    --color-btn-border: black;
    --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 83%);
    --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
    --color-btn-danger-text: black;
    --color-btn-danger-text-dark: black;
    
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline for anchor tags */
    cursor: pointer;
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 16px;
}

.btn-row > *:first-child {
    margin-left: 0;
}

a.btn {
    display: inline-block;
    text-align: center;
    line-height: normal; 
}

.btn-primary {
    background-color: var(--color-btn-primary-background);
    color: var(--color-btn-primary-text);
}

.btn-primary:hover {
    background-color: var(--color-btn-primary-background-dark);
    color: var(--color-btn-primary-text-dark);
}

.btn-danger {
    background-color: var(--color-btn-danger-background);
    color: var(--color-btn-danger-text);
}

.btn-danger:hover {
    background-color: var(--color-btn-danger-background-dark);
    color: var(--color-btn-danger-text-dark);
}