:root {
    --form-label-font-size: 20px;
    --form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);
}

.form-row {
    display: flex;
    margin-bottom: 8px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 32px; 
    flex-grow: 1;
    flex-basis: 0;
}

.form-item:first-child {
    margin-left: 0;
}

.form-item-no-grow {
    flex-grow: 0;
}

.form-row-end {
    justify-content: flex-end;
}

.form-item > label {
    font-size: var(--form-label-font-size);
    margin-bottom: 5px;
    margin-left: 5px;
}

.form-item input, .form-item select, .form-item textarea {
    height: 32px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.form-item textarea {
    height: 100%;
    resize: none;
}

.form-item select option {
    background-color: black;
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus {
    border-color: var(--form-input-border-color-light);
}


.filepond--root {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    width: 100%;
}

.filepond--panel-root {
    background-color: var(--form-input-background-color, #f4f4f4); 
    border: 2px solid var(--form-input-border-color, #ccc); 
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s ease; 
}

.filepond--drop-label {
    color: var(--color-text-light, #777); 
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.filepond--root:hover .filepond--panel-root {
    border-color: var(--color-hover-border, #007bff); 
}

.filepond--file {
    display: none; 
}

.filepond--file-input {
    display: block;
    margin: 0 auto;
}

.cover-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-text-dark, #333); 
}

.book-cover {
    display: block;
    width: 100%;
    background: var(--form-input-background-color, #f4f4f4); 
    border: 2px dashed var(--form-input-border-color, #ccc); 
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-cover:hover {
    border-color: var(--color-hover-border, #007bff); 
    background-color: white; 
    border-radius: 5%;
}

.filepond--drop-label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.filepond--root--disabled .filepond--panel-root {
    background-color: #f4f4f4;
    border: 2px dashed #ccc;
}

